/*For the Nav Bar*/
div.background-img {
    background-image: url('http://res.cloudinary.com/lfncztstq/image/upload/v1492648186/cliffhouse_updated_lbkhwx.jpg');
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-size:cover;
    height:500px;
    display: flex;
    align-items: center;
}
div.nav {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    right:0;
    padding: 2px;
}

.col-md-4 {
  margin: 0 0 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://cdn.redalertpolitics.com/files/2016/08/Live-There_Tokyo_Elliott_Artist-Loft_20160222_0153_comp.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: white;
  text-shadow: none;
  background-color: black;
}

.btn.btn-primary:hover {
  color: white;
  background-color: royalblue;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.featured-stories {
    color: #393c3d;
    font-size: 24px;
}

.featured-stories p {
    font-size: 15px;
    margin-bottom: 13px;
}
